:root{
    --pink-color: rgb(188, 80, 202);
    --purple-color: rgb(116, 29, 150);
    --color-white: #fafafa;
    --color-white2:rgb(187, 187, 187);
    --color-dark1: #272727;
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;

    --cute-pink1: #fcc8ff;
    --cute-purple1: #ebbeff;
    --cute-pink2: #ffa6fb;
    --cute-purple2: #e3d1ff;
    --cute-purple3: #cec6ff;

    --light-pink: #ffcce2;
    --light-pink2: #ffa7c5;

    --shadow-pink: #e694e3;
    --shadow-pink2: #cc83ca;
    --shadow-pink3: #b77d88;

    --shade-purple1: #efbbff;
    --shade-purple2: #d896ff;
    --shade-purple3: #be29ec;
    --shade-purple4: #800080;
    --shade-purple5: #660066;
}

*{
    font-family: 'Arial';
    margin: 0%;
    padding: 0%;
}

html{
    height: 100%;
    width: 100%;
}

body{
    background-color: var(--cute-purple1);
}

.links{
    color: var(--pink-color);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: larger;
    transition: .25s;
}
.links:hover{
    color: var(--purple-color);
    transition: .25s;
}

.jogo{
    padding: 5px 10px;
    border: solid 3px var(--shade-purple3);
    border-radius: 25px;
}
.jogo:hover{
    border: solid 3px var(--shade-purple4);  
}

.header, .header-nav{
    background-color: var(--cute-pink2);
    flex-direction: row;
    align-items: center;
}

.header{
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    word-spacing: 6em;
    box-shadow: 0px 5px 5px var(--shade-purple2);
}

.botaoprincipal{
    position: absolute;
    height: 60px;
    width: 150px;
    top: 50%;
    left: 50%;
}

.sim{
    position: absolute;
    height: 60px;
    width: 150px;
    top: 50%;
    left: 40%;
}

.textos{
    position: absolute;
    top: 40%;
    left: 30%;
}

.imagem{
    width: 350px;
    height: 250px;
    border-radius: 10px;
}
.images{
    position: absolute;
    z-index: -1;
    top: 30%;
    left: 30%;
}
.texto-invi{
    text-align: center;
    padding-top: 100px;
}

#invi{
    visibility: hidden;
}

#visible{
    visibility: visible;
}

.sticker-hk{
    position: absolute;
    top: 45%;
    left: 15%;
    width: 200px;
    height: 200px;
    transform: rotate(-20deg);
}

.sticker-mm{
    position: absolute;
    top: 45%;
    right: 18%;
    width: 200px;
    height: 200px;
    transform: rotate(20deg);
}

.btn{
    color: var(--shade-purple4);
    background-color: var(--cute-pink2);
    border: solid 1px var(--shade-purple5);
    border-radius: 5px;
}
.btn:hover{
    background-color: var(--shadow-pink);
}
.btn:active{
    background-color: var(--shadow-pink2);
}